<html>
	  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/autentica/principal">União Forte</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/autentica/sair" method="post">Sair</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <br/><br/>
  <br/><br/>

  <center><h1>Meus processos em Aberto</h1></center>

  <br/>
  <br/>
  <br/>

<table name="obs" id="obs" class="table table-bordered">
  <tbody>
  <tr>
  <td><strong>Nome Processo</strong></td>
  <td><strong>Ação</strong></td>
  <td><strong>Responsável</strong></td>
  <td><strong>Status</strong></td>
  <td><strong>Tempo</strong></td>
  <td><td>
  </tr>
  <%for(var i=0;i<dados.length;i++) {%>
  <form class="form-horizontal" action="/realizar/processo" method="post">
        <tr>
          <td ><input name="processo" value=<%=dados[i].noprocess%>></input></td>
          <td ><input name="acao" value=<%=dados[i].acao%>></input></td>
          <td ><input name="responsavel" value=<%=dados[i].respon%>></input></td>
          <td ><input name="status" value=<%=dados[i].sta%>></input></td>
          <td ><input name="tempo" value=<%=dados[i].tem%>></input></td>
          <td><button type="submit" class="btn btn-default">Realizar Processo</button><td>
        </tr>
        </form>
    <%}%>
  </tbody>
  </table>
  </body>
</html>